nodered/jsonfile.txt
[
    {
        "id": "c72ffd449ded72b3",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d294905044c2b135",
        "type": "rpi-neopixels",
        "z": "c72ffd449ded72b3",
        "name": "Turn On LEDs",
        "gpio": 18,
        "pixels": "10",
        "bgnd": "",
        "fgnd": "",
        "wipe": "40",
        "mode": "pcent",
        "rgb": "rgb",
        "brightness": "100",
        "gamma": true,
        "x": 780,
        "y": 200,
        "wires": []
    },
    {
        "id": "56238243e27b0197",
        "type": "inject",
        "z": "c72ffd449ded72b3",
        "name": "Green",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "386fa58e349030d2",
                "97a160fb917cb294"
            ]
        ]
    },
    {
        "id": "6e77fc577d7010dc",
        "type": "inject",
        "z": "c72ffd449ded72b3",
        "name": "Red",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "34399fade6ab183a",
                "386fa58e349030d2"
            ]
        ]
    },
    {
        "id": "386fa58e349030d2",
        "type": "function",
        "z": "c72ffd449ded72b3",
        "name": "Set Off",
        "func": "\n\nmsg.payload = '0,0,0'\n    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 200,
        "wires": [
            [
                "d294905044c2b135"
            ]
        ]
    },
    {
        "id": "97a160fb917cb294",
        "type": "delay",
        "z": "c72ffd449ded72b3",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 390,
        "y": 120,
        "wires": [
            [
                "276f5bf2991f2c2c"
            ]
        ]
    },
    {
        "id": "34399fade6ab183a",
        "type": "delay",
        "z": "c72ffd449ded72b3",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 390,
        "y": 280,
        "wires": [
            [
                "2cb8dc6a84208dc4"
            ]
        ]
    },
    {
        "id": "0545a3cc0c078692",
        "type": "switch",
        "z": "c72ffd449ded72b3",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 500,
        "wires": [
            [
                "6fab5b343e8010c7",
                "b6f0a776bc50e36d"
            ],
            [
                "b6f0a776bc50e36d",
                "de7d7a2a11978b9d"
            ]
        ]
    },
    {
        "id": "9e820518abdf1c9e",
        "type": "rpi-neopixels",
        "z": "c72ffd449ded72b3",
        "name": "Turn On LEDs",
        "gpio": 18,
        "pixels": "10",
        "bgnd": "",
        "fgnd": "",
        "wipe": "40",
        "mode": "pcent",
        "rgb": "rgb",
        "brightness": "100",
        "gamma": true,
        "x": 1040,
        "y": 500,
        "wires": []
    },
    {
        "id": "4b6d2ca0a02d9623",
        "type": "function",
        "z": "c72ffd449ded72b3",
        "name": "Set Green",
        "func": "var pixel0;\nvar pixel1;\nvar pixel2;\nvar pixel3;\nvar pixel4;\nvar pixel5;\nvar pixel6;\nvar pixel7;\nvar pixel8;\nvar pixel9;\n\nif(msg.payload==true){           //n=pixel you're addressing\n    pixel0={payload:\"0,0,255,0\"};//n=0-->pixel0\n    pixel1={payload:\"1,255,0,0\"};//n=1-->pixel1\n    pixel2={payload:\"2,0,0,255\"};//n=2-->pixel2\n    pixel3={payload:\"4,0,255,0\"};//n=4-->pixel3\n    pixel4={payload:\"5,255,0,0\"};//n=5-->pixel4\n    pixel5={payload:\"6,0,0,255\"};//n=6-->pixel5\n    pixel6={payload:\"8,0,255,0\"};//n=8-->pixel6\n    pixel7={payload:\"9,255,0,0\"};//n=9-->pixel7\n    pixel8={payload:\"10,0,255,0\"};//n=10-->pixel8\n    // pixel9={payload:\"10,0,0,255\"};\n}\nreturn [  [pixel0, pixel1, pixel2, pixel3, pixel4, pixel5, pixel6, pixel7, pixel8, pixel9] ];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 440,
        "wires": [
            [
                "9e820518abdf1c9e"
            ]
        ]
    },
    {
        "id": "563b9dc939d02425",
        "type": "function",
        "z": "c72ffd449ded72b3",
        "name": "Set Red",
        "func": "var pixel1;\nvar pixel2;\nvar pixel3;\nvar pixel4;\nvar pixel5;\nvar pixel6;\nvar pixel7;\nvar pixel8;\n\n\n\nif(msg.payload==false){\n    pixel1={payload:\"0,255,0,0\"};\n    pixel2={payload:\"1,0,0,255\"};\n    pixel3={payload:\"3,0,255,0\"};\n    pixel4={payload:\"4,255,0,0\"};\n    pixel5={payload:\"5,0,0,255\"};\n    pixel6={payload:\"7,0,255,0\"};\n    pixel7={payload:\"8,255,0,0\"};\n    pixel8={payload:\"9,0,0,255\"};\n    // pixel9={payload:\"9,255,0,0\"};\n    // pixel10={payload:\"10,0,0,255\"};\n    \n}\nreturn [  [pixel1, pixel2, pixel3, pixel4, pixel5, pixel6, pixel7, pixel8] ];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 560,
        "wires": [
            [
                "9e820518abdf1c9e"
            ]
        ]
    },
    {
        "id": "b6f0a776bc50e36d",
        "type": "function",
        "z": "c72ffd449ded72b3",
        "name": "Set Off",
        "func": "\nmsg.payload = '0,0,0'\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 500,
        "wires": [
            [
                "9e820518abdf1c9e"
            ]
        ]
    },
    {
        "id": "6fab5b343e8010c7",
        "type": "delay",
        "z": "c72ffd449ded72b3",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 650,
        "y": 420,
        "wires": [
            [
                "4b6d2ca0a02d9623"
            ]
        ]
    },
    {
        "id": "de7d7a2a11978b9d",
        "type": "delay",
        "z": "c72ffd449ded72b3",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 650,
        "y": 580,
        "wires": [
            [
                "563b9dc939d02425"
            ]
        ]
    },
    {
        "id": "adccdf880de4697c",
        "type": "inject",
        "z": "c72ffd449ded72b3",
        "name": "Change Colour",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 120,
        "y": 500,
        "wires": [
            [
                "cdcb7f55953a48dc"
            ]
        ]
    },
    {
        "id": "cdcb7f55953a48dc",
        "type": "function",
        "z": "c72ffd449ded72b3",
        "name": "Decide Colour",
        "func": "var count=flow.get('count') || 0;\n\ncount+=1;\nflow.set('count',count);\nif(count % 2>0){\n    msg.payload=false;\n}\nelse{\n    msg.payload=true;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 500,
        "wires": [
            [
                "0545a3cc0c078692"
            ]
        ]
    },
    {
        "id": "276f5bf2991f2c2c",
        "type": "function",
        "z": "c72ffd449ded72b3",
        "name": "Set Green",
        "func": "var pixel0;\nvar pixel1;\nvar pixel2;\nvar pixel3;\nvar pixel4;\nvar pixel5;\nvar pixel6;\nvar pixel7;\nvar pixel8;\nvar pixel9;\n\n          //n=pixel you're addressing\n    pixel0={payload:\"0,0,255,0\"};//n=0-->pixel0\n    pixel1={payload:\"1,255,0,0\"};//n=1-->pixel1\n    pixel2={payload:\"2,0,0,255\"};//n=2-->pixel2\n    pixel3={payload:\"4,0,255,0\"};//n=4-->pixel3\n    pixel4={payload:\"5,255,0,0\"};//n=5-->pixel4\n    pixel5={payload:\"6,0,0,255\"};//n=6-->pixel5\n    pixel6={payload:\"8,0,255,0\"};//n=8-->pixel6\n    pixel7={payload:\"9,255,0,0\"};//n=9-->pixel7\n    pixel8={payload:\"10,0,255,0\"};//n=10-->pixel8\n    // pixel9={payload:\"10,0,0,255\"};\n\nreturn [  [pixel0, pixel1, pixel2, pixel3, pixel4, pixel5, pixel6, pixel7, pixel8, pixel9] ];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 160,
        "wires": [
            [
                "d294905044c2b135"
            ]
        ]
    },
    {
        "id": "2cb8dc6a84208dc4",
        "type": "function",
        "z": "c72ffd449ded72b3",
        "name": "Set Red",
        "func": "var pixel1;\nvar pixel2;\nvar pixel3;\nvar pixel4;\nvar pixel5;\nvar pixel6;\nvar pixel7;\nvar pixel8;\n\n\n\n\n    pixel1={payload:\"0,255,0,0\"};\n    pixel2={payload:\"1,0,0,255\"};\n    pixel3={payload:\"3,0,255,0\"};\n    pixel4={payload:\"4,255,0,0\"};\n    pixel5={payload:\"5,0,0,255\"};\n    pixel6={payload:\"7,0,255,0\"};\n    pixel7={payload:\"8,255,0,0\"};\n    pixel8={payload:\"9,0,0,255\"};\n    // pixel9={payload:\"9,255,0,0\"};\n    // pixel10={payload:\"10,0,0,255\"};\n    \nreturn [  [pixel1, pixel2, pixel3, pixel4, pixel5, pixel6, pixel7, pixel8] ];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 240,
        "wires": [
            [
                "d294905044c2b135"
            ]
        ]
    },
    {
        "id": "2b0148a1163e465c",
        "type": "rpi-neopixels",
        "z": "c72ffd449ded72b3",
        "name": "Turn On LEDs",
        "gpio": 18,
        "pixels": "10",
        "bgnd": "",
        "fgnd": "",
        "wipe": "40",
        "mode": "pcent",
        "rgb": "rgb",
        "brightness": "100",
        "gamma": true,
        "x": 860,
        "y": 800,
        "wires": []
    },
    {
        "id": "a8cba0b23744225e",
        "type": "function",
        "z": "c72ffd449ded72b3",
        "name": "Set Off",
        "func": "\n\nmsg.payload = '0,0,0'\n    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 800,
        "wires": [
            [
                "2b0148a1163e465c"
            ]
        ]
    },
    {
        "id": "b1b6cf7e4c7832c3",
        "type": "delay",
        "z": "c72ffd449ded72b3",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 450,
        "y": 880,
        "wires": [
            [
                "bccbe9e942cade50"
            ]
        ]
    },
    {
        "id": "bccbe9e942cade50",
        "type": "function",
        "z": "c72ffd449ded72b3",
        "name": "Set Red",
        "func": "var pixel1;\nvar pixel2;\nvar pixel3;\nvar pixel4;\nvar pixel5;\nvar pixel6;\nvar pixel7;\nvar pixel8;\n\n\n\n\n    pixel1={payload:\"0,255,0,0\"};\n    pixel2={payload:\"1,0,0,255\"};\n    pixel3={payload:\"3,0,255,0\"};\n    pixel4={payload:\"4,255,0,0\"};\n    pixel5={payload:\"5,0,0,255\"};\n    pixel6={payload:\"7,0,255,0\"};\n    pixel7={payload:\"8,255,0,0\"};\n    pixel8={payload:\"9,0,0,255\"};\n    // pixel9={payload:\"9,255,0,0\"};\n    // pixel10={payload:\"10,0,0,255\"};\n    \nreturn [  [pixel1, pixel2, pixel3, pixel4, pixel5, pixel6, pixel7, pixel8] ];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 840,
        "wires": [
            [
                "2b0148a1163e465c"
            ]
        ]
    },
    {
        "id": "985ecae3ef758e34",
        "type": "rpi-neopixels",
        "z": "c72ffd449ded72b3",
        "name": "Turn On LEDs",
        "gpio": 18,
        "pixels": "10",
        "bgnd": "",
        "fgnd": "",
        "wipe": "40",
        "mode": "pcent",
        "rgb": "rgb",
        "brightness": "100",
        "gamma": true,
        "x": 840,
        "y": 1200,
        "wires": []
    },
    {
        "id": "f523dbce09d554c3",
        "type": "function",
        "z": "c72ffd449ded72b3",
        "name": "Set Off",
        "func": "\n\nmsg.payload = '0,0,0'\n    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1200,
        "wires": [
            [
                "985ecae3ef758e34"
            ]
        ]
    },
    {
        "id": "db2f527fde87be11",
        "type": "delay",
        "z": "c72ffd449ded72b3",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 470,
        "y": 1120,
        "wires": [
            [
                "64aed0d1c956778d"
            ]
        ]
    },
    {
        "id": "64aed0d1c956778d",
        "type": "function",
        "z": "c72ffd449ded72b3",
        "name": "Set Green",
        "func": "var pixel0;\nvar pixel1;\nvar pixel2;\nvar pixel3;\nvar pixel4;\nvar pixel5;\nvar pixel6;\nvar pixel7;\nvar pixel8;\nvar pixel9;\n\n          //n=pixel you're addressing\n    pixel0={payload:\"0,0,255,0\"};//n=0-->pixel0\n    pixel1={payload:\"1,255,0,0\"};//n=1-->pixel1\n    pixel2={payload:\"2,0,0,255\"};//n=2-->pixel2\n    pixel3={payload:\"4,0,255,0\"};//n=4-->pixel3\n    pixel4={payload:\"5,255,0,0\"};//n=5-->pixel4\n    pixel5={payload:\"6,0,0,255\"};//n=6-->pixel5\n    pixel6={payload:\"8,0,255,0\"};//n=8-->pixel6\n    pixel7={payload:\"9,255,0,0\"};//n=9-->pixel7\n    pixel8={payload:\"10,0,255,0\"};//n=10-->pixel8\n    // pixel9={payload:\"10,0,0,255\"};\n\nreturn [  [pixel0, pixel1, pixel2, pixel3, pixel4, pixel5, pixel6, pixel7, pixel8, pixel9] ];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1160,
        "wires": [
            [
                "985ecae3ef758e34"
            ]
        ]
    },
    {
        "id": "da6b75dc2b0c3c63",
        "type": "http in",
        "z": "c72ffd449ded72b3",
        "name": "",
        "url": "/red",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 860,
        "wires": [
            [
                "a8cba0b23744225e",
                "b1b6cf7e4c7832c3",
                "f12454a228f08c79"
            ]
        ]
    },
    {
        "id": "ec916a655ebb43e0",
        "type": "http in",
        "z": "c72ffd449ded72b3",
        "name": "",
        "url": "/green",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 1120,
        "wires": [
            [
                "db2f527fde87be11",
                "f523dbce09d554c3",
                "a43152a3f175d110"
            ]
        ]
    },
    {
        "id": "b1b0947fe62c07ea",
        "type": "http response",
        "z": "c72ffd449ded72b3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 940,
        "wires": []
    },
    {
        "id": "1135ea673c97900a",
        "type": "http response",
        "z": "c72ffd449ded72b3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 1080,
        "wires": []
    },
    {
        "id": "a43152a3f175d110",
        "type": "template",
        "z": "c72ffd449ded72b3",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Green</h1>\n    </body>\n</html>",
        "x": 370,
        "y": 1080,
        "wires": [
            [
                "1135ea673c97900a"
            ]
        ]
    },
    {
        "id": "f12454a228f08c79",
        "type": "template",
        "z": "c72ffd449ded72b3",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Red</h1>\n    </body>\n</html>",
        "x": 410,
        "y": 940,
        "wires": [
            [
                "b1b0947fe62c07ea"
            ]
        ]
    }
]